.img3 img{
    width: 200px;
    height: 200px;

}
.img3{
    text-align: center; 
}
.red-square::before{
    content:'\25A0' ;
    color:red;
    font-size: 25px
}
.blue-square::before{
    content:'\25A0' ;
    color:blue;
    font-size: 25px
}
p{
    text-align: justify;
    margin-left: 50px;
}
.left-division{
    background-color: burlywood;
    width: 400px;
    height: 920px;
    position: absolute;
    top: 382px;
    right: 230px;
   
}
h4{
    margin-left: 50px;
}
.brown-kivi-img{
    width: 75%;
    height: 200px;
    position: relative;
    margin-left: 50px;
}
    
.srtrip-div{
    width:100%;
    height: 40px;
    background-color:rgb(98, 159, 5);
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
li{
    margin-bottom: 10px;
}
.left-in-left-div{
    position: relative;
    left: 191px;
    bottom: 292px;
    color: blue;
    height: 50px;
}
